.App {
  background-color: rgb(91, 84, 184);
  margin-left: 10px;

  box-sizing: border-box;
  max-width: 100wh;
}
.InputPart {
  text-align: center;
}
.alignment * {
  vertical-align: middle;
}
.theList {
  word-break: break-all;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.Wrapper li {
  width: 92%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.DeleteButton {
  margin-right: 20px;
  margin-left: 10px;
}
