.App {
  margin: 10px 10px 0px 0px;
  box-sizing: border-box;
  max-width: 100wh;
}
.InputPart {
  text-align: center;
}
.alignment * {
  vertical-align: middle;
}
.theList {
  word-break: break-all;
}
.task {
  display: flex;
  flex-direction: row;
}
li {
  flex: 7;
}
